<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright © Gusev Andrew, Emelianov Andrew, Spinov Dmitry [collectively referred as the Authors], 2017 - All Rights Reserved
  ~ [NOTICE: All information contained herein is, and remains the property of the Authors.](notice: All information contained herein is, and remains the property of the Authors.)
  ~ The intellectual and technical concepts contained herein are proprietary to the Authors
  ~ and may be covered by any existing patents of any country in the world, patents in
  ~ process, and are protected by trade secret or copyright law.
  ~
  ~ Dissemination of this information or reproduction of this material is strictly forbidden unless prior
  ~ written permission is obtained from the Authors. Access to the source code contained herein is hereby forbidden
  ~ to anyone except persons (natural person, corporate or unincorporated body, whether or not having a separate
  ~ legal personality, and that person’s personal representatives, and successors)
  ~ the Authors have granted permission and who have executed Confidentiality and Non-disclosure agreements
  ~ explicitly covering such access.
  ~
  ~ The copyright notice above does not provide evidence of any actual or intended publication or disclosure
  ~ of this source code, which in
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.solutionarchitects.testapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TechApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApplication"
        android:usesCleartextTraffic="true">

        <activity
            android:name="tech.solutionarchitects.testapplication.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Creative -->

        <activity
            android:name=".activity.CreativeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />

        <!--   Product Creative    -->
        <activity
            android:name=".activity.ProductCreativeActivity"
            android:exported="true" />

        <!-- MULTIPLE IMPRESSIONS -->

        <activity
            android:name="tech.solutionarchitects.testapplication.activity.MultipleProductCreativesActivity"
            android:exported="false" />
    </application>

</manifest>
